<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>You've been invited to CodeWiki, <%= @user.first_name %></h1>
  <p>
    You've been invited to contribute at <a href="<%= @url%>" target="_blank">CodeWiki</a>.
    You just need to setup your password and you're good to go.
  </p>
</body>
</html>