You've been invited to CodeWiki, <%= @user.first_name %>
===========================================================

You've been invited to contribute at CodeWiki: @url
You just need to setup your password and you're good to go.
