.article-heading {
  background: $barely-gray;
  display: flex;
  margin-bottom: 20px;
  padding: 15px;
  h1 {
    margin: 0 !important;
  }
  a,
  a:hover {
    color: $link-color;
  }
  .article-info {
    flex: 1 0 0;
    .key {
      display: block;
      font-weight: bold;
    }
    .value {
      dipslay: block;
    }
  }
  .article-actions {
    text-align: right;
  }
}