#site-assets-container {
  .field {
    display: flex;
    .form-label {
      flex-basis: 150px;
      font-weight: 600;
      line-height: 2.4;
      padding-right: 10px;
      text-align: right;
    }
    .form-control {
      flex: 1 0 0;
    }
  }
}

.site-assets-actions {
  margin-top: 20px;
}