<%= form_for(article) do |f| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if params[:action] == "new" %>
  <%= f.hidden_field :author, {:value=>current_user.id} %>
  <% end %>
  <%= f.hidden_field :last_edited_author, {:value=>current_user.id} %>
  
  <div class="field">
    <%= f.label :name, :class=>"form-label" %>
    <%= f.text_field :name, :class=>"form-control" %>
  </div>

  <div class="field">
    <%= f.label :article_category_id %>
    <%= f.select(:article_category_id, @categories.where(:site_id=>current_site.id).map{|category| [category.name, category.id]}, {}, {:class=>"form-control"}) %>
  </div>

  <div class="actions">
    <%= f.submit :class=>"bttn primary" %>
  </div>
<% end %>
