<p id="notice"><%= notice %></p>

<h1>Add Code Blocks to <%=@article.name%></h1>


<div class="page-menu">
  <div class="bttn-group">
    <a href="#" class="bttn primary dropdown" data-buttton-dropdown="code-blocks">
      Add Code Block <i class="fa fa-caret-down"></i>
    </a>
    <ul class="dropdown-menu" id="code-blocks">
      <li><a href="#" data-add-block="html">HTML</a></li>
      <li><a href="#" data-add-block="javascript">Javascript</a></li>
      <li><a href="#" data-add-block="css">CSS</a></li>
    </ul>
  </div>
  <a href="#" data-add-block="content" class="bttn primary">Add Content Block</a>
  <!--<a href="#" class="bttn float-right">Add Header Assets</a>-->
</div>

  <%= form_tag articles_save_blocks_path %>
    <input type="hidden" name="article_id" value="<%=params[:id]%>">
    <div id="article-blocks-container">
      <% @article.article_blocks.each_with_index do |block, index| %>
        <div class="article-block" id="article-block-<%=index%>" data-block-type="<%=block.block_type%>" data-editable="true">
          <div class="article-block-heading">
            <i class="fa fa-arrows"></i>
            <h3><%=block.block_type_name%> Block</h3>
            <% unless block.block_type == "content" %>
            <label class="checkbox">
              <%= hidden_field_tag "blocks[][display]" %>
              <%= check_box_tag "blocks[][display]", 1, block.display %>
              For Display
            </label>
            <% end %>
            <span class="bttn danger small" data-delete-block="<%=index%>">Delete</span>
          </div>
          <div class="article-block-body">
            <div id="editor-<%=index.to_s%>-wrap" class="editor-wrap">
              <% if block.block_type == "content" %>
                <textarea name="blocks[][content]" id="textarea-<%=index%>" class="content-editor"><%= block.content %></textarea>
              <% else %>
                <div class="ace-editor" id="editor-<%=index%>"><%= block.content %></div>
                <textarea name="blocks[][content]" id="textarea-<%=index%>" class="hide"></textarea>
              <% end %>
            </div>
          </div>
          <% if block.block_type == "content" %>
              <%= hidden_field_tag "blocks[][display]" %>
          <% end %>
          <input type="hidden" name="blocks[][article_id]" value="<%=params[:id]%>">
          <input type="hidden" name="blocks[][block_type]" value="<%=block.block_type%>">
          <input type="hidden" name="blocks[][order]" class="block-order" value="">
          <input type="hidden" name="blocks[][author]" value="<%=block.author%>">
          <input type="hidden" name="blocks[][last_edited_author]" value="<%=@current_user.id%>">
        </div>
      <% end %>
    </div>
    
    <div class="article-blocks-actions clearfix">
      <button class="bttn primary float-right hide bttn-save-blocks">Save</button>
    </div>
  </form>

  <script type="text/x-template" id="code-block-template">
    <div class="article-block" id="article-block-{{idNumber}}">
      <div class="article-block-heading">
        <i class="fa fa-arrows"></i>
        <h3>{{blockName}}</h3>
        <label class="checkbox">
          <input type="hidden" name="blocks[][display]">
          <input type="checkbox" name="blocks[][display]">
          For Display
        </label>
        <span class="bttn danger small" data-delete-block="{{idNumber}}">Delete</span>
      </div>
      <div class="article-block-body">
        <div id="editor-{{idNumber}}-wrap" class="editor-wrap">
          <div class="ace-editor" id="editor-{{idNumber}}"></div>
          <textarea name="blocks[][content]" id="textarea-{{idNumber}}" class="hide"></textarea>
        </div>
      </div>
      <input type="hidden" name="blocks[][article_id]" value="<%=params[:id]%>">
      <input type="hidden" name="blocks[][block_type]" value="{{blockType}}">
      <input type="hidden" name="blocks[][order]" class="block-order" value="">
      <input type="hidden" name="blocks[][author]" value="<%=@current_user.id%>">
      <input type="hidden" name="blocks[][last_edited_author]" value="<%=@current_user.id%>">
    </div>
  </script>

  <script type="text/x-template" id="content-block-template">
    <div class="article-block" id="article-block-{{idNumber}}">
      <div class="article-block-heading">
        <i class="fa fa-arrows"></i>
        <h3>{{blockName}}</h3>
        <span class="bttn danger small" data-delete-block="{{idNumber}}">Delete</span>
      </div>
      <div class="article-block-body">
        <textarea name="blocks[][content]" id="textarea-{{idNumber}}" class="content-editor"></textarea>
      </div>
      <input type="hidden" name="blocks[][display]">
      <input type="hidden" name="blocks[][article_id]" value="<%=params[:id]%>">
      <input type="hidden" name="blocks[][block_type]" value="{{blockType}}">
      <input type="hidden" name="blocks[][order]" class="block-order" value="">
      <input type="hidden" name="blocks[][author]" value="<%=@current_user.id%>">
      <input type="hidden" name="blocks[][last_edited_author]" value="<%=@current_user.id%>">
    </div>
  </script>

</div>