<p id="notice"><%= notice %></p>

<h1>Articles</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Author</th>
      <th>Last edited author</th>
      <th>Article category</th>
      <th>Site</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= link_to article.name, article_path(article) %></td>
        <td><%= User.find(article.author).get_short_name %></td>
        <td><%= User.find(article.author).get_short_name %></td>
        <td><%= article.article_category.name %></td>
        <td><%= article.article_category.site.name %></td>
        <td>
          <%= link_to 'Edit', edit_article_path(article), :class=>"bttn small" %>
          <%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"bttn danger small" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add Article', new_article_path, :class=>"bttn primary" %>
