<p id="notice"><%= notice %></p>

<h1 class="article-info">
  <%=@article.name%>
</h1>

<div class="article-heading clearfix">
  <div class="article-info">
    <span class="key">
      Category
    </span>
    <span class="value">
      <%= link_to @article.article_category.name, @article.article_category %>
    </span>
  </div>
  <div class="article-info">
    <span class="key">
      Written By
    </span>
    <span class="value">
      <%=@author.get_short_name %>
    </span>
  </div>
  <div class="article-info">
    <span class="key">
      Last Updated By
    </span>
    <span class="value">
      <%=@last_author.get_short_name %>
    </span>
  </div>
  <div class="article-info article-actions">
    <a href="<%=edit_article_path(@article)%>" class="bttn">Edit</a>
    <a href="" class="bttn danger">Delete</a>
  </div>
</div>

<div class="article-blocks">

  <% @article.article_blocks.each_with_index do |block, index| %>

    <div class="article-block" data-block-type="<%=block.block_type%>" data-display="<%=block.display%>">
      <% if !block.display && block.block_type != "content"  %>
      <div class="ace-editor" id="editor-<%=index%>"><%= block.content %></div>
      <% else %>
      <%= raw(block.content) %>
      <% end %>
    </div>

  <% end %>

</div>