<%= form_for(user_group) do |f| %>
  <% if user_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_group.errors.count, "error") %> prohibited this user_group from being saved:</h2>

      <ul>
      <% user_group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, :class=>"form-label" %>
    <%= f.text_field :name, :class=>"form-control" %>
  </div>

  <div class="actions">
    <%= link_to 'Back', user_groups_path, :class=>"bttn" %>
    <%= f.submit :class => "bttn primary" %>
  </div>
<% end %>
