<h1>User Groups</h1>

<p id="notice"><%= notice %></p>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_groups.each do |user_group| %>
      <tr>
        <td><%= user_group.name %></td>
        <td>
          <%= link_to 'Show', user_group, :class=> "bttn small" %>
          <%= link_to 'Edit', edit_user_group_path(user_group), :class=> "bttn small" %>
          <%= link_to 'Destroy', user_group, method: :delete, data: { confirm: 'Are you sure?' }, :class=> "bttn small danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'New User Group', new_user_group_path, :class=> "bttn primary" %>
