<%= form_for(user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email, :class=>"form-label" %>
    <%= f.text_field :email, :class=>"form-control" %>
  </div>

  <div class="field">
    <%= f.label :password, :class=>"form-label" %>
    <%= f.password_field :password, :class=>"form-control" %>
  </div>

  <div class="field">
    <%= f.label :first_name, :class=>"form-label" %>
    <%= f.text_field :first_name, :class=>"form-control" %>
  </div>

  <div class="field">
    <%= f.label :last_name, :class=>"form-label" %>
    <%= f.text_field :last_name, :class=>"form-control" %>
  </div>

  <% if @user.new_record? %>
  <div class="field">
    <label>Invite, or Create</label>
    <select name="user[invite]">
      <option value="invite">Invite User</option>
      <option value="create">Create</option>
    </select>
  </div>
  <% end %>

  <div class="field">
    <%= f.label :user_groups, :class=>"form-label" %>
    <% for user_group in UserGroup.all %>
    <label class="checkbox">
      <%= check_box_tag "user[user_group_ids][]", user_group.id, @user.user_groups.include?(user_group) %>
      <%= user_group.name %>
    </label>
    <% end %>
  </div>


  <div class="actions">
    <%= f.submit :class=>"bttn primary" %>
  </div>
<% end %>
