<h1>Users</h1>

<div id="notice"><%= notice %></div>

<table class="table">
  <thead>
    <tr>
      <th>Email</th>
      <th>First name</th>
      <th>Last name</th>
      <th>User Groups</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td>
          <% user.user_groups.each do |user_group| %>
              <span class="label"><%=user_group.name%></span>
          <% end %>
        </td>
        <td>
          <%= link_to 'Show', user, :class=> "bttn small" %>
          <%= link_to 'Edit', edit_user_path(user), :class=> "bttn small" %>
          <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, :class=> "bttn small danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path, :class=>"bttn primary"%>
