<h1>Code Wiki</h1>

<% if !flash[:notice].blank? %>
    <div id="notice">
      <%= flash[:notice] %>
    </div>
<% end %>

<h2>Latest Updates</h2>
<ul class="update-list">
<% for article in Article.by_recently_updated.first(5) %>
  <li>
    <% if article.created_at == article.updated_at %>
      <span class="action-performed">Article Created</span>
    <% else %>
      <span class="action-performed">Article Updated</span>
    <% end %>
    <div class="status-update">
      <%= link_to article.name, article%> was
      <% if article.created_at == article.updated_at %>
        <strong>created</strong> by <%= User.find(article.author).get_full_name %>
      <% else %>
        <strong>updated</strong> <%= User.find(article.last_edited_author).get_full_name %>
      <% end %>
    </div>
    <time datetime="<%= article.updated_at.strftime("%Y-%d-%m") %>">
      <%= article.updated_at.strftime("%B %d, %Y") %>
    </time>
  </li>
<% end %>
</ul>