<%= form_for(permission) do |f| %>
  <% if permission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(permission.errors.count, "error") %> prohibited this permission from being saved:</h2>

      <ul>
      <% permission.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, :class => "form-label" %>
    <%= f.text_field :name, :class => "form-control" %>
  </div>
  
  <div class="field">
    <%= f.label :handle, :class => "form-label" %>
    <%= f.text_field :handle, :class => "form-control" %>
  </div>
  
  <div class="field">
    <label class="form-label">
      User Groups that Inherit this Permission
    </label>  
    <% for user_group in UserGroup.all %>
    <label class="checkbox">
      <%= check_box_tag "permission[user_group_ids][]", user_group.id, @permission.user_groups.include?(user_group) %>
      <%= user_group.name %>
    </label>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit :class => "bttn primary" %>
    <%= link_to 'Back', permissions_path, :class => "bttn" %>
  </div>
<% end %>
