<p id="notice"><%= notice %></p>

<h1>Permissions</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Handle</th>
      <th>User Groups</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @permissions.each do |permission| %>
      <tr>
        <td><%= permission.name %></td>
        <td><%= permission.handle%></td>
        <td>
          <% for user_group in permission.user_groups.all %>        
          <span class="label"><%=user_group.name%></span>
          <% end %>
        </td>
        <td>
          <%= link_to 'Edit', edit_permission_path(permission), :class=>"bttn small" %>
          <%= link_to 'Destroy', permission, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"bttn danger small" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Permission', new_permission_path, :class=>"bttn primary" %>
