#top-links{
  @extend .clearfix;
  color: $content;
  font-size: 12px;
  margin: 15px 0 15px 450px;
  max-width: 55%;
  padding: 10px 0 0;
  width: 800px;
  a {
    color: $link-color;
  }
  .link-group {
    background: $barely-gray;
    border: 1px solid darken($barely-gray,10%);
    border-radius: 3px;
    padding: 5px 10px;
  }
  .updates-link {
    float: left;
  }
  .logged-in-label {
    float: right;
    .btn-logout {
      display: inline-block;
      margin-left: 5px;
    }
  }
}
#main-shell {
  margin-left: 450px;
  max-width: 55%;
  padding: 50px 0 0;
  width: 800px;
  &.push-over {
    transform: translate3d(300px,0,0)
  }
  &.logged-out { margin: 0; }

  h1 {
    color: $content;
    font-size: 28px;
    font-weight: 300;
    margin-bottom: 20px;
  }
  h2 {
    color: $content;
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 20px;
  }
  h3 {
    color: $content;
    font-size: 18px;
    font-weight: 300;
  }
}