.panel {
  background: #eee;
  height: 100%;
  left: 300px;
  overflow-y: scroll;
  padding: 40px 20px;
  position: fixed;
  transition: .2s ease all;
  transform: translate3d(-100%,0,0);
  width: 250px;
  z-index: 2;
  &.active {
    transform: translate3d(0,0,0);
  }
  h1 {
    font-size: 24px;
    margin: 0 0 20px;
  }
  > div {
    display: none;
  }
  ul {
    margin: 30px 0 !important;
    padding: 0 !important;
    li {
      background: #fff;
      list-style: none;
      margin: 0 0 5px;
      a {
        color: #55acee;
        display: block;
        padding: 7px 15px;
        text-decoration: none;
        &:hover {
          background: #55acee;
          color: #fff;
        }
      }
    }
  }
}