header#global-sidebar {
    background: darken($dark-gray,5%);
    color: $light-gray;
    height: 100%;
    position: fixed;
    padding: 50px 20px;
    width: 300px;
    z-index: 3;

    #site-selector {
      margin-bottom: 40px;
      label {
        color: #fff;
      }
    }
    #main-nav {
        .nav-title {
            border-bottom: 1px solid $light-gray;
            color: #fff;
            display: block;
            font-size: 24px;
            margin-bottom: 20px;
            padding-bottom: 5px;
        }
        /* Primary */
        ul {
            margin-bottom: 40px;
            li {
                a {
                  color: $light-gray;
                  padding: 5px 10px;
                  transition: .2s ease all;
                }
                a:hover {
                  background: $dark-gray;
                }
            }
        }
    }//nav
    #input-search-articles {
        margin: 0 0 30px;
    }

  #site-nav {
    margin-top: 40px;
    .nav-title {
      color: #fff;
    }
    .nav {
      li {
        a {
          color: $light-gray;
          display: inline-block;
          font-size: 12px;
          padding: 3px 0;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

} //#site-header