<div class="login-form">
  <%= form_tag(login_login_path, :method=> :post) do %>

      <div class="field">
        <%= label_tag(:email, "Email", :class => "form-label")%>
        <%= text_field_tag(:email, params[:email], :class => "form-control") %>
      </div>

      <div class="field">
        <%= label_tag(:password, "Password", :class => "form-label") %>
        <%= password_field_tag(:password, "", :class => "form-control") %>
      </div>

      <%= submit_tag("Login", :class => "bttn primary")%>

  <% end %>
</div>