#article-blocks-container {
  margin: 30px 0;
}
.article-block {
  @extend .clearfix;
  background: #fff;
  margin-bottom: 20px;
  #article-blocks-container & {
    border: 1px solid $light-gray;
  }
  .article-block-heading {
    @extend .clearfix;
    background: $barely-gray;
    border-bottom: 1px solid #eee;
    color: $content;
    padding: 7px 15px;
    h3 {
      float: left;
      font-size: 16px;
      line-height: 27px;
      margin-bottom: 0;
    }
    i {
      cursor: move;
      float: left;
      line-height: 27px;
      margin-right: 10px;
    }
    label.checkbox {
      color: $content;
      float: left;
      line-height: 17px;
      margin: 4px 0 0 30px;
      input {
        margin-right: 5px;
      }
    }
    .bttn {
      float: right;
    }
  }
  .article-block-body {
    padding: 15px;
    position: relative;
  }
  &.is-being-dragged .article-block-body {
    display: none;
  }
  .panel-body.aceeditor {
    height: 200px;
  }
}

.ace-editor {
  min-height: 60px;
  max-height: 500px;
}