.bttn,
.bttn:visited {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #eee;
    border: 1px solid darken($barely-gray, 20%);
    border-radius: 3px !important;
    cursor: pointer;
    display: inline-block;
    color: $content;
    font-size: 14px;
    line-height: 1em;
    padding: .7em 1.25em;
    text-decoration: none !important;
    transition: .2s ease all;
    &.small {
      font-size: 12px;
      padding: .5em .9em;
    }
    &:hover {
        background: darken($barely-gray,5%);
        color: $content;
        text-decoration: none !important;
    }
    &.primary {
        background: $primary-color;
        border: 1px solid darken($primary-color, 10%);
        color: #fff;
        .open &,
        &:hover {
          background: darken($primary-color,5%);
          color: #fff;
        }
    }
    &.success {
        background: $success-color;
        border: 1px solid darken($success-color, 10%);
        color: #fff;
        &:hover {
          background: darken($success-color,5%);
          color: #fff;
        }
    }
    &.info {
        background: $info-color;
        border: 1px solid darken($info-color, 10%);
        color: #fff;
        &:hover {
          background: darken($info-color,5%);
          color: #fff;
        }
    }
    &.warning {
        background: $warning-color;
        border: 1px solid darken($warning-color, 10%);
        color: #fff;
        &:hover {
            background: darken($warning-color,5%);
        }
    }
    &.danger {
        background: $danger-color;
        border: 1px solid darken($danger-color, 10%);
        color: #fff;
        &:hover {
            background: darken($danger-color,5%);
        }
    }
    &.expanded {
      width: 100%;
    }
    &.dropdown i {
      margin-left: 5px;
    }
}

.bttn-group {
  display: inline-block;
  position: relative;
}
.dropdown-menu {
  background: #fff;
  border: 1px solid $light-gray;
  border-radius: 3px;
  display: none;
  font-size: 14px;
  left: 0;
  list-style: none;
  margin: 2px 0 0;
  padding: 5px 0;
  min-width: 160px;
  position: absolute;
  top: 100%;
  z-index: 10;
  .bttn-group.open & {
    display: block;
  }
  li {
    a {
      color: $content;
      display: block;
      padding: 3px 20px;
      text-decoration: none;
      &:hover {
        background: $barely-gray;
      }
    }
  }
}

