.form-label {
  display: block;
  line-height: 1.8;
}
.form-control {
  background: #fff;
  border: 1px solid $light-gray !important;
  display: block;
  font-family: $primary-font;
  height: auto;
  margin-bottom: 15px;
  padding: 10px;
  transition: .2s ease all;
  width: 100%;
  &:focus {
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.1), 0 0 8px rgba(0,0,0,0.3) !important;
  }
  &.dark {
    background: $dark-gray;
    border-color: $dark-gray !important;
    color: $barely-gray;
    &:focus {
      background: $dark-gray;
    }
  }
}
.field {
  margin-bottom: 10px;
}
.checkbox {
  display: block;
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 10px;
  input {
    margin-bottom: 0;
  }
}