#notice:not(:empty) {
  background: lighten($success-color, 43%);
  border: 1px solid $success-color;
  color: $success-color;
  font-size: 14px;
  margin-bottom: 20px;
  padding: 10px 20px;
  &.error {
    background: lighten($warning-color, 43%);
    border: 1px solid $warning-color;
    color: $warning-color;
  }
}