.table {
  margin-bottom: 30px;
  width: 100%;
  thead {
    background: none;
    border-bottom: 1px solid $light-gray;
    th {
      padding: 4px;
      text-align: left;
      &:last-child {
        text-align: right;
      }
    }
  }
  tbody {
    tr:first-child td {
      padding-top: 20px;
    }
    tr {
      td {
        padding: 4px;
        &:last-child {
          text-align: right;
        }
      }
    }
  }
}