.update-list {
  margin: 0 0 30px;
  li {
    border-left: 2px solid $light-gray;
    color: $content;
    list-style: none;
    font-size: 14px;
    margin-bottom: 20px;
    time {
      font-weight: 600;
      display: block;
      margin-right: 10px;
      padding: 5px 20px;
    }
    .status-update {
      background: $barely-gray;
      padding: 5px 20px;
    }
    .action-performed {
      display: block;
      font-size: 17px;
      padding: 5px 20px;
    }
    a {
      color: $link-color;
    }
  }
}