body,
html {
  height: 100%;
}
body {
  color: $content;
  font-family: $primary-font;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.4;
  overflow-x: hidden;
}

*, *::before, *::after {
  box-sizing: border-box;
}
.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}
.clearfix::after {
  clear: both;
}

a {
  color: $link-color;
}
a:visited {
  color: $link-color;
}

ul.nav {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
    a {
      display: block;
      text-decoration: none;
    }
  }
}

.float-right {
  float: right;
}
.float-left {
  float: left;
}
.hide {
  display: none !important;
}
.is-visible {
  display: block !important;
}
.table tbody td:first-child a {
  color: $link-color;
}