//Colors
$primary-color: #337ab7;
$success-color: #5cb85c;
$info-color: #5bc0de;
$warning-color: #f0ad4e;
$danger-color: #d9534f;
$light-gray: #ccc;
$medium-gray: #aaa;
$dark-gray: #555;
$barely-gray: #fafafa;
$content: $dark-gray;
$link-color: $primary-color;

$primary-font: "Lato", Arial;


@import "resets";
@import "global";
@import "lib/trumbowyg.min.css";
@import "components/blocks";
@import "components/forms";
@import "components/buttons";
@import "components/labels";
@import "components/notification";
@import "components/page-menu";
@import "components/tables";
@import "components/update-list";
@import "layout/sidebar";
@import "layout/panel";
@import "layout/main";
@import "pages/article";
@import "pages/assets";
