<%= form_for(article_block) do |f| %>
  <% if article_block.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article_block.errors.count, "error") %> prohibited this article_block from being saved:</h2>

      <ul>
      <% article_block.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :block_type %>
    <%= f.text_field :block_type %>
  </div>

  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>

  <div class="field">
    <%= f.label :order %>
    <%= f.number_field :order %>
  </div>

  <div class="field">
    <%= f.label :author %>
    <%= f.number_field :author %>
  </div>

  <div class="field">
    <%= f.label :last_edited_author %>
    <%= f.number_field :last_edited_author %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
