<p id="notice"><%= notice %></p>

<h1>Article Blocks</h1>

<table>
  <thead>
    <tr>
      <th>Block type</th>
      <th>Content</th>
      <th>Order</th>
      <th>Author</th>
      <th>Last edited author</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @article_blocks.each do |article_block| %>
      <tr>
        <td><%= article_block.block_type %></td>
        <td><%= article_block.content %></td>
        <td><%= article_block.order %></td>
        <td><%= article_block.author %></td>
        <td><%= article_block.last_edited_author %></td>
        <td><%= link_to 'Show', article_block %></td>
        <td><%= link_to 'Edit', edit_article_block_path(article_block) %></td>
        <td><%= link_to 'Destroy', article_block, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Article Block', new_article_block_path %>
