<p id="notice"><%= notice %></p>

<p>
  <strong>Block type:</strong>
  <%= @article_block.block_type %>
</p>

<p>
  <strong>Content:</strong>
  <%= @article_block.content %>
</p>

<p>
  <strong>Order:</strong>
  <%= @article_block.order %>
</p>

<p>
  <strong>Author:</strong>
  <%= @article_block.author %>
</p>

<p>
  <strong>Last edited author:</strong>
  <%= @article_block.last_edited_author %>
</p>

<%= link_to 'Edit', edit_article_block_path(@article_block) %> |
<%= link_to 'Back', article_blocks_path %>
