<%= form_for(article_category) do |f| %>
  <% if article_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article_category.errors.count, "error") %> prohibited this article_category from being saved:</h2>

      <ul>
      <% article_category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, :class=>"form-label" %>
    <%= f.text_field :name, :class=>"form-control" %>
  </div>

  <div class="field">
    <%= f.label :site_id, :class=>"form-label" %>
    <%= f.select(:site_id, @sites.map{|site| [site.name, site.id]}, {:selected=> current_site.id}, {:class=>"form-control"}) %>
  </div>

  <div class="actions">
    <%= f.submit :class=> "bttn primary" %>
    <%= link_to 'Back', article_categories_path, :class=>"bttn" %>
  </div>
<% end %>
