<h1><%=current_site.name%> Article Categories</h1>

<p id="notice"><%= notice %></p>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Site</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @article_categories.where(:site => current_site).each do |article_category| %>
      <tr>
        <td><%= article_category.name %></td>
        <td><%= article_category.site.name %></td>
        <td>
          <% if current_user && current_user.can("create_categories") %>
          <%= link_to 'Edit', edit_article_category_path(article_category), :class=>"bttn small" %>
          <% end %>
          <% if current_user && current_user.can("remove_categories") %>
          <%= link_to 'Destroy', article_category, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"bttn small danger" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Category', new_article_category_path, :class=>"bttn primary" %>
