<h1><%= @article_category.name%></h1>

<p id="notice"><%= notice %></p>

<table class="table">
  <thead>
    <tr>
      <th>Article</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @article_category.articles.each do |article|%>
    <tr>
      <td><%= link_to article.name, article_path(article) %></td>
      <td>
        <%= link_to 'Edit', edit_article_path(article), :class=> "bttn small" %>
        <% if current_user && current_user.can("delete_articles") %>
        <%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' }, :class=> "bttn small danger" %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>