<%= form_for(site) do |f| %>
  <% if site.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(site.errors.count, "error") %> prohibited this site from being saved:</h2>

      <ul>
      <% site.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, :class=>"form-label" %>
    <%= f.text_field :name, :class=>"form-control" %>
  </div>

  <div class="actions">
    <%= f.submit :class=> "bttn primary" %>
    <%= link_to 'Back', sites_path, :class=>"bttn" %>
  </div>
<% end %>
