<h1>Manage Assets for <%= @site.name %></h1>

<div class="page-menu">
  <a href="#" data-add-asset class="bttn primary">Add Asset</a>
</div>

<%= form_tag sites_save_assets_path %>
  <input type="hidden" name="site_id" value="<%=params[:id]%>">
  <div id="site-assets-container">
    <% @site.site_assets.each_with_index do |asset, index| %>
      <div class="field site-asset">
        <label class="form-label">
          Asset URL
        </label>
        <input type="text" class="form-control" name="assets[][asset_url]" value="<%=asset.asset_url %>">
        <input type="hidden" name="assets[][site_id]" value="<%=asset.site_id %>">
      </div>
    <% end %>
  </div>
  <div class="site-assets-actions clearfix">
    <button class="bttn primary float-right bttn-save-assets<% unless @site.site_assets.count%> hide<% end %>">Save</button>
  </div>
</form>

<script type="text/x-template" id="asset-template">
  <div class="field site-asset">
    <label class="form-label">
      Asset URL
    </label>
    <input type="text" class="form-control" name="assets[][asset_url]">
    <input type="hidden" name="assets[][site_id]" value="<%= @site.id %>">
  </div>
</script>

