<h1>Sites</h1>

<p id="notice"><%= notice %></p>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sites.each do |site| %>
      <tr>
        <td><%= site.name %></td>
        <td>
          <%= link_to "Assets", "/sites/"+site.id.to_s+"/assets", :class=> "bttn small" %>
          <%= link_to 'Edit', edit_site_path(site), :class=>"bttn small" %>
          <%= link_to 'Destroy', site, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"bttn small danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Site', new_site_path, :class=>"bttn primary" %>
