<!DOCTYPE html>
<html>
  <head>
    <title>CodeWiki</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <% current_site.site_assets.each do |site_asset| %>
      <% if File.extname(site_asset.asset_url) == ".css" %>
        <link href="<%= URI::parse(site_asset.asset_url).path %>" rel="stylesheet">
      <% end %>
    <% end %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  </head>

  <body>

    <header id="global-sidebar">

      <div id="site-selector">
        <label class="form-label" for="site-selector-field">
          View Styles for Site:
        </label>
        <select id="site-selector-field" class="form-control">
          <% for site in Site.all %>
          <option value="<%=site.id%>" <%if current_site.id == site.id%>selected<%end%>><%=site.name%></option>
          <% end %>
        </select>
      </div>

      <nav id="main-nav">
        <span class="nav-title">
          Categories
        </span>
        <ul class="nav">
          <% ArticleCategory.where(:site => current_site).each do |category| %>
          <li>
            <%= link_to "#{category.name} (#{category.articles.count})", category %>
          </li>
          <% end %>
        </ul>

        <input type="text" class="form-control dark" id="input-search-articles" placeholder="search for articles" />

      </nav>

      <div class="site-actions">
        <a href="<%= new_article_path %>" class="bttn primary">
          Add Article
        </a>
        <a href="<%= article_categories_path %>" class="bttn">
          Categories
        </a>
      </div>

      <% if current_user && current_user.has_admin_access? %>
      <nav id="site-nav">
        <span class="nav-title">
          Admin
        </span>
        <ul class="nav">
          <% if current_user.can("manage_sites")%>
          <li><a href="<%=sites_path %>">Manage Sites</a></li>
          <% end %>
          <% if current_user.can("manage_users")%>
          <li><a href="<%=users_path %>">Manage Users</a></li>
          <% end %>
          <% if current_user.can("manage_user_groups")%>
          <li><a href="<%=user_groups_path %>">Manage User Groups</a></li>
          <% end %>
          <% if current_user.can("manage_permissions")%>
          <li><a href="<%= permissions_path%>">Manage Permissions</a></li>
          <% end %>
        </ul>
      </nav>
      <% end %>

    </header>

    <div id="panel-results" class="panel">
      <h1>Results</h1>
      <ul id="search-results">
        <li>Not finding anything...</li>
      </ul>
      <a href="#" class="bttn" data-close-panel="panel-results">
        Close
      </a>
    </div>

    <div id="top-links">
      <span class="link-group updates-link">
        <%= link_to "View Latest Updates", root_path %>
      </span>
      <span class="link-group logged-in-label">
        <% if current_user %>
        Logged in as <strong><%= current_user.get_short_name %></strong>
        <a href="<%=login_logout_path%>" class="btn-logout">Logout</a>
        <% else %>
          <a href="<%= login_path %>">Login</a>
        <% end %>
      </span>
    </div>

    <div id="main-shell">
      <%= yield %>
    </div>
    <script src="//use.fontawesome.com/f8efffc434.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.6/ace.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.6/mode-coldfusion.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.6/mode-javascript.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.6/mode-sass.js"></script>
    <% current_site.site_assets.each do |site_asset| %>
      <% if File.extname(site_asset.asset_url) == ".js" %>
          <script src="<%= URI::parse(site_asset.asset_url).path %>"></script>
      <% end %>
  <% end %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
